# Ignore Service Account Key
ServiceAccountKey.json

# Ignore Mac System Files
.DS_store

# Ignore Cron (Shell and Log Files)
run.sh
run.log

# Ignore Data Files
data/

# Ignore Personal Backup Files
bck/

# Ignore Python Virtual Environment
venv/

# Ignore Firebase Credentials.
.firebase.json
